.popular {
  padding: 3rem 7rem;
}

.popular h1 {
  background: linear-gradient(to right, #3e5bcf 9%, #6e44cf 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 45px;
}

.popular p {
  color: var(--color-text);

  font-size: 20px;
  margin: 10px 0px;
  line-height: 26px;
}

.popular-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  border: 0;
  border-right: 650px solid #ccc;
  margin: 0;
  width: 100%;
}

.popular-container {
  display: flex;
  padding: 60px 0px;
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.popular-container img {
  margin: 0px 0px;
  width: 100%;
}

.popular-container p {
  font-weight: 800;
}

.popular-container p2 {
  text-align: center;
  color: rgb(126, 121, 121);
}
