.header {
  overflow-x: hidden;
}

.header-image {
  display: flex;
}

.gamefi-planet {
  position: relative;
  bottom: 190px;
  right: 60px;
  z-index: 10;
  /* transform: translate(-5%, -20%); */
}

.defi-planet {
  position: relative;
  top: 100px;
  right: 230px;
  z-index: 10;
  /* transform: translate(-30%, 20%); */
}
