.header {
  overflow-x: hidden;
}

.header-image {
  display: flex;
}

.gamefi-planet {
  position: relative;
  bottom: 190px;
  right: 60px;
  z-index: 6;
  /* transform: translate(-5%, -20%); */
}

.defi-planet {
  position: relative;
  top: 100px;
  right: 230px;
  z-index: 6;
  /* transform: translate(-30%, 20%); */
}

.ast {
  position: relative;
  bottom: 270px;
  left: 170px;
  z-index: 1;
}

.aststring {
  position: relative;
  right: 1600px;
  bottom: 200px;
  width: 50%;
  z-index: 1;
}

.galaxydust2 {
  position: relative;
  bottom: 100px;
  left: 35px;
  z-index: 8;
}
