.updates {
  padding: 2rem 4rem;
  margin: 5rem;
  background: #29292a;
  /* border: 1px solid white; */
  border-radius: 25px;
}

.updates h1 {
  color: white;
  font-size: 45px;
}

.updates p {
  color: rgb(144, 144, 144);
}

.updates-explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  /* border: 1px solid white;
  box-sizing: border-box;
  padding: 6px;
  width: 120px;
  height: 40px; */
}

.updates-explore button {
  background: #000000;
  border-radius: 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

.updates-container {
  display: flex;
  gap: 80px;
}

.updates-container p {
  padding: 6px 0px;
  font-size: 20px;
  color: rgb(255, 249, 249);
}

.updates-container p2 {
  color: rgb(101, 97, 97);
}
