.updates {
  padding: 2rem 4rem;
  margin: 5rem;
  background: #29292a;
  border-radius: 25px;
}

.updates-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0px 0 10px;
}

.updates-header h1 {
  color: white;
  font-size: 45px;
}

.updates-header button {
  background: #000000;
  border-radius: 13px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

.updates p {
  color: rgb(144, 144, 144);
}

.updates-container {
  padding-top: 55px;
  display: flex;
  gap: 80px;
}

.updates-container p {
  padding: 6px 0px;
  font-size: 20px;
  color: rgb(255, 249, 249);
}

.updates-container p2 {
  color: rgb(101, 97, 97);
}
