.trend {
  padding: 3rem 7rem;
}

.trend h1 {
  color: white;
  font-size: 45px;
}

.trend p {
  color: rgb(164, 164, 164);
  font-size: 25px;
  margin: 8px 0px;
  line-height: 26px;
}

.trend-container {
  padding: 2rem 0rem;
  display: inline-grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  grid-gap: 14px;
}

.trend-container p {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.trend-container p2 {
  color: gray;
  font-size: 17px;
}

.trend-container img {
  display: flex;
  margin-right: 90px;
}
