.trend {
  padding: 3rem 7rem;
}

.trend-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0px 0 10px;
}

.trend-header h1 {
  color: white;
  font-size: 45px;
}

.trend-header button {
  background: #1a0c79;
  border-radius: 13px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

.trend p {
  color: var(--color-text);
  font-size: 20px;
  margin: 8px 0px;
  line-height: 26px;
}

.trend-container {
  padding: 2rem 0rem;
  display: inline-grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  grid-gap: 14px;
}

.trend-container p {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.trend-container p2 {
  color: gray;
  font-size: 17px;
}

.trend-container img {
  display: flex;
  margin-right: 90px;
}

.trend-header button:hover {
  background: white;
  color: #1a0c79;
}
