.navbar {
  display: flex;
  align-items: right;
  padding: 0.66rem 3rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.header-image {
  flex: 0.5;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: left;
  align-items: left;
}

.navbar-title {
  margin-right: 2rem;
}

.navbar-title h1 {
  color: white;
  font: 50px;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 39rem;
}

.navbar-links-container p {
  color: white;
  margin: 0 1rem;
  font-weight: 500;
  line-height: 25px;
  justify-content: right;
}

.navbar-links-container p:not(:last-child) {
  border-right: thin solid #bcbaba9f;
  position: relative;
  padding-right: 28px;
}
