.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  padding: 1.6rem 3rem;
}

.navbar-links {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.navbar-links-image {
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: left;
  align-items: left;
}

.navbar-links-title h1 {
  color: white;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  margin-left: 46rem;
  flex-wrap: wrap;
  align-items: right;
  justify-content: right;
}

.navbar-links-container p {
  color: white;
  margin: 0rem 1rem;
  font-weight: 500;
  line-height: 25px;
  justify-content: right;
}

.navbar-links-container p:not(:last-child) {
  border-right: thin solid #bcbaba9f;
  position: relative;
  padding-right: 28px;
}
