body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Light";
  src: local("PoppinsLight"), url("./fonts/PoppinsLight.ttf") format("truetype");
  font-family: "Medium";
  src: local("PoppinsMedium"),
    url("./fonts/PoppinsMedium.ttf") format("truetype");
  font-family: "Regular";
  src: local("PoppinsRegular"),
    url("./fonts/PoppinsRegular.ttf") format("truetype");
}

:root {
  --color-text: #afabab;
}
